<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VSS2.My.MySettings.login2ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\login2.mdb"
            providerName="System.Data.OleDb" />
        <add name="VSS2.My.MySettings.VSSdatabaseConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\VSSdatabase.mdb;Persist Security Info=True;Jet OLEDB:Database Password=admin"
            providerName="System.Data.OleDb" />
        <add name="VSS2.My.MySettings.ChatsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Chats.mdb"
            providerName="System.Data.OleDb" />
        <add name="VSS2.My.MySettings.VSSdatabaseConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\VSSdatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="VSS2.My.MySettings.VSSdatabaseConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\VSSdatabase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>